body { background: #111; color: white; font-family: sans-serif; }
  .flex { display: flex; }
  .flex-col { flex-direction: column; }
  .items-center { align-items: center; }
  .justify-center { justify-content: center; }
  .cursor-default { cursor: default; }
  .overflow-x-auto { overflow-x: auto; }
  .border-r { border-right: 1px solid #555; }
  .rounded { border-radius: 0.25rem; }
  .hover\:bg-blue-700:hover { background-color: #1d4ed8; }
  .text-white { color: white; }
  .font-bold { font-weight: bold; }
  .py-2 { padding-top: 1rem; padding-bottom: 1rem; }
  .px-2 { padding-left: 0.5rem; padding-right: 0.5rem; }
  .mx-1 { margin-left: 0.25rem; margin-right: 0.25rem; }
  .ml-16 { margin-left: 4rem; }
  .w-25 { width: 6rem; }
  .text-end { text-align: right; }
  .text-center { text-align: center; }

.string-tune {
    background-color: #2563eb;
    color: white;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
}

.string-tune:hover {
    background-color: #1d4ed8;
}

.tune-offset {
    width: 3.25rem;
}

.tone-button {
    background-color: #2563eb;
    color: white;
    font-weight: bold;
    font-size: 0.75em;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.tone-button:hover {
    background-color: #1d4ed8;
}

.cell {
    display: flex;
    padding: 1rem 0 1rem 0;
    border-right: 1px solid #555;
    width: 6rem;
    align-items: center;
    justify-content: flex-end;
}

.fret-zero {
    height: 1px;
    width: 1rem;
    background-color: #111;
}

.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.75rem;
    width: 1.75rem;
    text-align: center;
    background-color: oklch(44.8% 0.119 151.328);
    border-radius: 2rem;
}

.letter-active {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.75rem;
    width: 1.75rem;
    text-align: center;
    background-color: oklch(57.7% 0.245 27.325);
    border-radius: 0.25rem;
}

.preletter {
    height: 1px;
    width: 1rem;
    background-color: #555;
}

#fret-overview {
    padding-left: 2em;
}

.fret-numbers {
    display: grid;
    width: 4.5em;
    padding: 1em 0 0.5em 0;
    justify-content: center;
}
