body {
    background: #111;
    color: white;
    font-family: sans-serif;
}

.string-tune {
    background-color: #2563eb;
    color: white;
    font-weight: bold;
    padding: 0.25rem 0.5rem;
    border: none;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
}

.string-tune:hover {
    background-color: #1d4ed8;
}

.tune-offset {
    width: 3.25em;
}

.tune-offset-active {
    width: 3.25em;
    font-weight: bold;
}

.tuning-button {
    background-color: #2563eb;
    color: oklch(88.2% 0.059 254.128);
    font-weight: bold;
    font-size: 0.75em;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.tuning-button:hover {
    background-color: oklch(48.8% 0.243 264.376);
}

.tuning-button-active {
    background-color: oklch(42.4% 0.199 265.638);
    color: white;
    font-weight: bold;
    font-size: 0.75em;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.tone-button {
    background-color: #2563eb;
    color: white;
    font-weight: bold;
    font-size: 0.75em;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.tone-button:hover {
    background-color: #1d4ed8;
}

.tone-button-active {
    background-color: oklch(72.3% 0.219 149.579);
}

.tone-button-active:hover {
    background-color: oklch(62.7% 0.194 149.214);
}

.cell {
    display: flex;
    padding: 1rem 0 1rem 0;
    border-right: 1px solid #555;
    width: 6rem;
    align-items: center;
    justify-content: flex-end;
}

.fret-zero {
    height: 1px;
    width: 1rem;
    background-color: #111;
}

.letter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
    text-align: center;
    background-color: oklch(44.8% 0.119 151.328);
    border-radius: 2rem;
}

.letter-active {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
    width: 2em;
    text-align: center;
    background-color: oklch(57.7% 0.245 27.325);
    border-radius: 0.25rem;
}

.preletter {
    height: 1px;
    width: 1em;
    background-color: #555;
}

#fret-overview {
    display: flex;
    padding-left: 5.5em;
}

.fret-numbers {
    display: grid;
    width: 4.5em;
    padding: 1em 0 0.5em 0;
    justify-content: center;
    align-content: center;
}

.fret-markers {
    font-weight: bold;
    font-size: 18px;
}

.row {
    display: flex;
    align-items: center;
}

#fretboard {
    overflow-x: auto;
}

#strings-container {
    display: flex;
    flex-direction: column;
}

#buttons {
    display: flex;
}

#tuning-buttons {
    display: flex;
    flex-direction: column;
}

#chord-buttons {
    display: flex;
    flex-direction: column;
}

#tone-buttons {
    display: flex;
}

#subtone-buttons {
    display: flex;
}

#toggle-mode {
    display: flex;
}

#chord-notes {
    display: flex;
}
